# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Database
*.sqlite
*.db

# OS specific
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Node.js
node_modules/
jspm_packages/
.npm
.node_repl_history
.yarn-integrity
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vue.js
/dist
.cache/
.eslintcache
.stylelintcache

# Build & bundle
coverage
temp
.history
.vercel
